.image {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.carousel{
    display: flex;
    justify-content: center;
}

.carousel .slide{
    height: 50vh;
}

.carousel .slide img{
    max-height: 100%;
    width: auto;
}

.image{
    margin: 0 auto;
    height: 95%;
    width: auto;
}

@media only screen and (max-width: 1200px){
    .carousel{
        height: 50vh;
    }
    .carousel .slide img{
        margin: 10vh auto;
        width: 100vw;
    }
}

@media only screen and (max-width: 800px){
    .carousel{
        height: 40vh;
    }
    .carousel .slide img{
        margin: 10vh auto;
        width: 100vw;
    }
}